.field-neto, .field-impuestos{
    background-color: #dcdcdc;
}
.field-neto div p, .field-impuestos div p{
    font-size: 1.3em;
}
.field-total{
    background-color: #7CA0C7;
}
.field-total div p, .field-total div label{
    font-weight: bold;
    color: #ffffff;
    font-size: 1.5em;
}
